main = "src/index.ts"
compatibility_date = "2022-11-17"
compatibility_flags = ["streams_enable_constructors"]

workers_dev = true

[site]
bucket = "../remix-app/public"

[env.dev]
vars = {SESSION_SECRET = "should-be-secure-in-prod", ENVIRONMENT = "development"}

[env.dev.durable_objects]
bindings = [
  {name = "COUNTER", class_name = "CounterDurableObject"},
]

[[migrations]]
tag = "v1"
new_classes = ["CounterDurableObject"]
